@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'Epilogue', sans-serif;
    color: hsl(0, 0%, 8%);
}

ul{
    list-style: none;
}


.navbar{
    width: 100%;
    height: 90px;
    background-color: #fff;  
    justify-content: center; 
}

.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 41%);
    padding: 0 50px;
    text-align: center;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 26px;
    color: #000;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .ul{
    display: flex;
    align-items: center;
}

.navbar li{
    margin: 0 10px;
    font-weight: 500;
    text-decoration: none;
}

.navbar a{
    color: hsl(0, 0%, 41%);
    text-decoration: none;
}

.navbar-left{
    display: flex;
    align-items: center;
    justify-content: center; 
   
}

.navbar-right{
    display: flex;   
}
.navbar-right .btn{
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
.navbar-right .register{ 
    border-color: hsl(0, 0%, 41%);
    border: 2px solid;
}

.dropdown-menu img{
    padding-right: 20px;
}


/* MAIN-PAGE */
.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 90px;
}

.homepage-left{
    flex-direction: column;
    margin: 0 0 0 100px;
}

.homepage-left h1{
    font-weight: 700;
    font-size: 75px;
}
.homepage-left p{
    font-size: 18px;
    color: hsl(0, 0%, 41%);;
    padding: 20px 230px 10px 0px;
}

.homepage-btn{
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    margin: 10px 0 120px;

}

.homepage-right{
 display: flex;
 align-items: center;
 justify-content: center;
}

.homepage-right img{
    width: 30vw;
    height: 75vh;
}

.homepage-left, .homepage-right{
    flex: 1;
}

.main-icons{
    align-items: center;   
}
.main-icons img{
    padding: 10px;   
}
